.Mui-selected {
  color: #f2672e;
}
.MuiPopover-paper {
  background: linear-gradient(
    106.51deg,
    rgba(255, 255, 255, 0.05) 3.44%,
    rgba(255, 255, 255, 0.02) 64.82%
  );
  backdrop-filter: blur(30px);
  border: 2px solid white;
  border-radius: 24px;
  border-image-source: linear-gradient(
    106.69deg,
    rgba(255, 255, 255, 0.25) 4.31%,
    rgba(255, 255, 255, 0) 45.94%,
    rgba(21, 28, 46, 0) 64.91%,
    rgba(21, 28, 46, 0.25) 100%
  );
}
.MuiLink-root {
  transition: 0.5s;
}
.MuiLink-root:hover {
  color: #f2672e !important;
}
.MuiLink-root:active {
  color: #f2672e !important;
}

.MuiLink-root {
  z-index: 1000;
}


/* Paper */
.MuiPaper-root {
  position: "relative";
  padding: 20px;
  background: linear-gradient(
    106.51deg,
    rgba(255, 255, 255, 0.05) 3.44%,
    rgba(255, 255, 255, 0.02) 64.82%
  );
  backdrop-filter: blur(30px);
  border-radius: 24px !important;
  border: 2px solid white;
  border-image-source: linear-gradient(
    106.69deg,
    rgba(255, 255, 255, 0.25) 4.31%,
    rgba(255, 255, 255, 0) 45.94%,
    rgba(21, 28, 46, 0) 64.91%,
    rgba(21, 28, 46, 0.25) 100%
  );
}


.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mg-t-40{
  margin-top: 40px;
}